/**
https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ - Author of the slide boxes
**/

html {
    background: rgba(0, 0, 70, 0.55);
}

body {
    margin: 0;
    padding: 3em;
    font-family: 'Be Vietnam Pro', sans-serif;
#    background: rgba(190, 180, 222, 0.9);
}

.top_heading {
    font-size: 1rem;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 9px;
    # height: 100px;
    width: 100%;
    background-color: rgba(20, 120, 222, 0.4);
}

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
    width: 1em;
    height: 0.8em;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 150px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
    background: #efe;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 1s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
}

.addresses {
    width: 25%;
    padding: 15px 2em;
    float: left;
    box-sizing: border-box;
}

.addresses > select {
    border: 1px solid;
    border-radius: 4px;
    width: 100%;
    background-color: #f1f1f1;
}

.addresses > label {
    padding: 0px 20px 0px 0;
    display: block;
}

.blockchain_actions {
    padding: 15px 0;
    clear: left;
}

.tables {
    float: right;
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}